* {margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto';
}

body {
  font-size: 10pt;
}
h1, h1 * {
  font-family: 'Roboto Slab';
  font-size: 13.5pt;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #f1f1f1;
  padding: 10px;
  position: relative;
  padding-left: 150px;
  padding-right: 50px;
}

.search-form input {
  background-color: rgba(255,255,255,0.25);
  border: 1px solid #ccc; 
  padding: 3px; 
  width: 100%; 
  border-radius: 3px;
}

.search-form input:focus {
  background-color: #fff;
}

header h1 {position: absolute;
  left: 10px; 
  top: 10px;
}
header .search-form {width: 100%;}
header nav {position: absolute; right: 10px; top: 10px;}